<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- Lets the user import a contact (incl. Google-synced ones) into a Contact QR. -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Same-Wi-Fi file hand-off: open a local socket and read the device's LAN IP so a
         receiver can fetch the file from a QR'd URL using their stock camera. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".QaRdApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QaRd"
        android:enableOnBackInvokedCallback="true"
        tools:remove="android:appComponentFactory"
        tools:targetApi="34">


        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.QaRd">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.DetailActivity"
            android:exported="false"
            android:theme="@style/Theme.QaRd" />

        <activity
            android:name=".ui.SendFileActivity"
            android:exported="false"
            android:label="Send a file"
            android:theme="@style/Theme.QaRd" />

        <activity
            android:name=".ui.WidgetMenuActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".ui.ConfigActivity"
            android:allowUntrustedActivityEmbedding="true"
            android:exported="true"
            android:theme="@style/Theme.QaRd">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.QrWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/qr_widget_info" />
        </receiver>

    </application>
</manifest>